/* line 4, ../../../../../../../../opt/local/lib/ruby/gems/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
html, body {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

/* line 6, ../../../../../../../../opt/local/lib/ruby/gems/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
html {
  font-size: 100.01%;
}

/* line 16, ../../../../../../../../opt/local/lib/ruby/gems/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
div, span, object, iframe, h1, h2, h3, h4, h5, h6, p,
pre, a, abbr, acronym, address, code, del, dfn, em, img,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, caption, tbody, tfoot, thead, tr {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

/* line 18, ../../../../../../../../opt/local/lib/ruby/gems/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
blockquote, q {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
  quotes: "" "";
}
/* line 45, ../../../../../../../../opt/local/lib/ruby/gems/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
blockquote:before, blockquote:after, q:before, q:after {
  content: "";
}

/* line 20, ../../../../../../../../opt/local/lib/ruby/gems/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
th, td, caption {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 22, ../../../../../../../../opt/local/lib/ruby/gems/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
table {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}

/* line 24, ../../../../../../../../opt/local/lib/ruby/gems/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
a img {
  border: none;
}

/* line 31, ../../../app/stylesheets/application.sass */
a {
  text-decoration: none;
}

/* line 34, ../../../app/stylesheets/application.sass */
body {
  text-align: center;
  background: #e0e5e4;
}

/* line 38, ../../../app/stylesheets/application.sass */
#banner {
  position: absolute;
  top: 120px;
  left: 0;
  height: 80px;
  background: #333300;
  width: 100%;
  z-index: 0;
}

/* line 47, ../../../app/stylesheets/application.sass */
.jScrollPaneDrag {
  background: #333300;
}

/* line 49, ../../../app/stylesheets/application.sass */
.jScrollPaneTrack {
  background: url('/images/jScrollPaneTrack.jpg?1290016131') center top repeat-y;
}

/* line 53, ../../../app/stylesheets/application.sass */
#page {
  z-index: 1;
  position: relative;
  width: 960px;
  margin: 0 auto;
  overflow: hidden;
  *zoom: 1;
  width: 963px;
  color: #666666;
  font-family: Palatino Linotype, Book Antiqua3, Palatino, serif;
  text-align: left;
}
/* line 62, ../../../app/stylesheets/application.sass */
#page #top_banner {
  display: inline;
  float: left;
  margin-right: 0;
  width: 960px;
  height: 85px;
  position: relative;
}
/* line 139, ../../../../../../../../opt/local/lib/ruby/gems/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html #page #top_banner {
  overflow-x: hidden;
}
/* line 66, ../../../app/stylesheets/application.sass */
#page #top_banner h1 {
  text-align: right;
  top: 15px;
  right: 0;
  position: absolute;
  font-size: 21px;
}
/* line 72, ../../../app/stylesheets/application.sass */
#page #top_banner h1 a, #page #top_banner h1 a:visited {
  color: #666666;
}
/* line 74, ../../../app/stylesheets/application.sass */
#page #top_banner h1 a span, #page #top_banner h1 a:visited span {
  color: #999999;
}
/* line 76, ../../../app/stylesheets/application.sass */
#page #top_banner #menu {
  position: absolute;
  bottom: 5px;
  right: 0;
  margin: 0;
  padding: 0;
  padding-left: 1ex;
  font-size: 14px;
  list-style-type: none;
  float: right;
}
/* line 5, ../../../../../../../../opt/local/lib/ruby/gems/1.8/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/utilities/lists/_inline-list.scss */
#page #top_banner #menu, #page #top_banner #menu li {
  margin: 0px;
  padding: 0px;
  display: inline;
}
/* line 86, ../../../app/stylesheets/application.sass */
#page #top_banner #menu a {
  color: #999999;
}
/* line 88, ../../../app/stylesheets/application.sass */
#page #top_banner #menu a.selected, #page #top_banner #menu a:hover {
  color: #333300;
}
/* line 90, ../../../app/stylesheets/application.sass */
#page #top_banner #menu span.separator {
  padding: 0 0.5ex;
  color: #999999;
}
/* line 94, ../../../app/stylesheets/application.sass */
#page #top_banner a.back {
  position: absolute;
  bottom: 5px;
  left: 0;
  height: 10px;
  width: 21px;
  background: url('/images/back.png?1291650959') left top no-repeat;
  zoom: 1;
  _background: none;
  _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="/images/back.png", sizingMethod="image");
  cursor: pointer;
}
/* line 107, ../../../app/stylesheets/application.sass */
#page #side_content_wrapper, #page #main_content_wrapper {
  background: white;
  height: 514px;
  border: 1px solid black;
  float: left;
  postion: relative;
}
/* line 114, ../../../app/stylesheets/application.sass */
#page #side_content_wrapper {
  width: 278px;
}
/* line 117, ../../../app/stylesheets/application.sass */
#page #main_content_wrapper {
  border-left: none;
  width: 679px;
}
/* line 122, ../../../app/stylesheets/application.sass */
#page #side_content, #page #main_content {
  margin: 7px;
  height: 498px;
}
/* line 127, ../../../app/stylesheets/application.sass */
#page #footer {
  display: inline;
  float: left;
  margin-right: 0;
  width: 960px;
  text-align: right;
  font-size: 10px;
  margin-top: 3px;
}
/* line 139, ../../../../../../../../opt/local/lib/ruby/gems/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html #page #footer {
  overflow-x: hidden;
}

/* line 139, ../../../app/stylesheets/application.sass */
body.pages #page.show #side_content {
  margin: 0;
}
/* line 141, ../../../app/stylesheets/application.sass */
body.pages #page.show #main_content {
  margin: 0;
  height: 100%;
}
/* line 144, ../../../app/stylesheets/application.sass */
body.pages #page.show #main_content #page_content {
  font-size: 12px;
  height: 100%;
  margin-right: 10px;
}
/* line 148, ../../../app/stylesheets/application.sass */
body.pages #page.show #main_content #page_content div {
  padding: 35px 140px 32px 150px;
  text-align: justify;
}
/* line 153, ../../../app/stylesheets/application.sass */
body.pages #page.index #side_content {
  color: #333300;
  margin-left: 15px;
  background: white;
  height: 482px;
}
/* line 158, ../../../app/stylesheets/application.sass */
body.pages #page.index #side_content h2 {
  margin-top: 32px;
  font-size: 14px;
  padding-left: 15px;
  text-transform: uppercase;
  background: url('/images/arrow-icon.png?1289604633') left center no-repeat;
}
/* line 164, ../../../app/stylesheets/application.sass */
body.pages #page.index #side_content ul {
  margin: 0;
  padding: 0;
  font-size: 12px;
  list-style: none;
  padding-left: 25px;
}
/* line 11, ../../../../../../../../opt/local/lib/ruby/gems/1.8/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/utilities/lists/_bullets.scss */
body.pages #page.index #side_content ul li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0px;
}
/* line 170, ../../../app/stylesheets/application.sass */
body.pages #page.index #side_content ul a, body.pages #page.index #side_content ul a:visited {
  color: #333300;
  line-height: 15px;
}
/* line 173, ../../../app/stylesheets/application.sass */
body.pages #page.index #side_content ul li {
  margin: 0;
  padding: 0;
}
/* line 177, ../../../app/stylesheets/application.sass */
body.pages #page.index .galleria-info {
  visibility: hidden;
}
/* line 181, ../../../app/stylesheets/application.sass */
body.pages #page.contact #side_content_wrapper, body.pages #page.contact #main_content_wrapper {
  border: none;
  background: none;
}
/* line 185, ../../../app/stylesheets/application.sass */
body.pages #page.contact #page_content {
  padding-top: 15px;
  color: white;
  text-align: center;
  font-family: helvatica, verdana;
}
/* line 190, ../../../app/stylesheets/application.sass */
body.pages #page.contact #page_content a {
  color: white;
  letter-spacing: 1px;
}
/* line 193, ../../../app/stylesheets/application.sass */
body.pages #page.contact #page_content a:hover {
  text-decoration: underline;
}
/* line 197, ../../../app/stylesheets/application.sass */
body.categories #side_content {
  margin: 7px;
  background: #333300;
}
/* line 200, ../../../app/stylesheets/application.sass */
body.categories #side_content ul.categories {
  margin: 0;
  padding: 0;
  font-size: 13px;
  padding-top: 30px;
  list-style: none;
}
/* line 11, ../../../../../../../../opt/local/lib/ruby/gems/1.8/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/utilities/lists/_bullets.scss */
body.categories #side_content ul.categories li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0px;
}
/* line 207, ../../../app/stylesheets/application.sass */
body.categories #side_content ul.categories li {
  margin: 0;
  padding: 0;
  margin-bottom: 5px;
  padding-top: 15px;
}
/* line 212, ../../../app/stylesheets/application.sass */
body.categories #side_content ul.categories li a {
  background: white;
  color: #333300;
  padding: 2px 1ex 1px 0;
}
/* line 217, ../../../app/stylesheets/application.sass */
body.categories #side_content ul.categories ul.projects {
  margin: 0;
  padding: 0;
  margin-left: 25px;
  margin-top: 10px;
}
/* line 222, ../../../app/stylesheets/application.sass */
body.categories #side_content ul.categories ul.projects li {
  margin: 0;
  padding: 0;
  padding-bottom: 5px;
}
/* line 226, ../../../app/stylesheets/application.sass */
body.categories #side_content ul.categories ul.projects li a {
  padding: 0;
  padding-right: 1ex;
  color: white;
  background: #333300;
  font-style: italic;
}
/* line 232, ../../../app/stylesheets/application.sass */
body.categories #side_content ul.categories ul.projects li a:hover {
  padding-left: 3px;
}
/* line 235, ../../../app/stylesheets/application.sass */
body.categories .galleria-info {
  visibility: hidden;
}
/* line 240, ../../../app/stylesheets/application.sass */
body.categories #page.show #main_content {
  font-size: 12px;
  height: 100%;
  margin: 0;
}
/* line 244, ../../../app/stylesheets/application.sass */
body.categories #page.show #main_content #category_comment {
  height: 100%;
  margin-right: 10px;
}
/* line 247, ../../../app/stylesheets/application.sass */
body.categories #page.show #main_content #category_comment div {
  padding: 24px 140px 32px 150px;
  text-align: justify;
}
/* line 250, ../../../app/stylesheets/application.sass */
body.categories #page.show #main_content #category_comment div a.access_to_project {
  display: block;
  text-align: center;
  color: #666666;
}
/* line 254, ../../../app/stylesheets/application.sass */
body.categories #page.show #main_content #category_comment div a.access_to_project:hover {
  text-decoration: unerline;
}
/* line 256, ../../../app/stylesheets/application.sass */
body.categories #page.show #main_content #category_comment div a.access_to_project.top {
  margin-bottom: 20px;
}
/* line 258, ../../../app/stylesheets/application.sass */
body.categories #page.show #main_content #category_comment div a.access_to_project.bottom {
  margin-top: 20px;
}
/* line 264, ../../../app/stylesheets/application.sass */
body.projects #page.show #main_content {
  margin: 0;
}
/* line 266, ../../../app/stylesheets/application.sass */
body.projects #page.show #main_content #gallery {
  margin: 7px;
}
/* line 268, ../../../app/stylesheets/application.sass */
body.projects #page.show #side_content {
  margin: 0;
}
/* line 270, ../../../app/stylesheets/application.sass */
body.projects #page.show #side_content h2 {
  margin-top: 34px;
  background: #333300;
  height: 80px;
  width: 278px;
  position: relative;
  left: 1px;
  top: 0;
}
/* line 278, ../../../app/stylesheets/application.sass */
body.projects #page.show #side_content h2 div {
  margin-right: 30px;
  text-align: right;
  font-size: 16px;
  color: white;
}
/* line 283, ../../../app/stylesheets/application.sass */
body.projects #page.show #side_content h2 div.title {
  padding-top: 18px;
  font-style: italic;
}
/* line 286, ../../../app/stylesheets/application.sass */
body.projects #page.show #side_content h2 div.sub_title {
  padding-top: 10px;
  font-size: 12px;
}
/* line 290, ../../../app/stylesheets/application.sass */
body.projects #page.show #side_content #gallery_controls {
  margin-top: 25px;
  font-size: 13px;
  text-align: center;
}
/* line 294, ../../../app/stylesheets/application.sass */
body.projects #page.show #side_content #gallery_controls a, body.projects #page.show #side_content #gallery_controls a:visited {
  color: #666666;
}
/* line 296, ../../../app/stylesheets/application.sass */
body.projects #page.show #side_content #gallery_controls h3 {
  min-height: 21px;
  line-height: 21px;
  font-size: 16px;
  font-weight: bold;
}
/* line 301, ../../../app/stylesheets/application.sass */
body.projects #page.show #side_content #gallery_controls .counter {
  height: 17px;
  padding: 8px 0 3px;
}
/* line 304, ../../../app/stylesheets/application.sass */
body.projects #page.show #side_content #gallery_controls #next {
  padding-left: 20px;
}
/* line 306, ../../../app/stylesheets/application.sass */
body.projects #page.show #side_content #gallery_controls #fullscreen {
  display: block;
  padding-top: 3px;
}
/* line 310, ../../../app/stylesheets/application.sass */
body.projects #page.show #thumbs {
  margin-top: 30px;
  height: 67px;
  display: inline;
  float: left;
  margin-right: 0;
  width: 960px;
}
/* line 139, ../../../../../../../../opt/local/lib/ruby/gems/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html body.projects #page.show #thumbs {
  overflow-x: hidden;
}
