/* line 4, ../../../../../../.rvm/gems/ruby-1.8.7-p334@head/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
html, body {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

/* line 6, ../../../../../../.rvm/gems/ruby-1.8.7-p334@head/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
html {
  font-size: 100.01%;
}

/* line 16, ../../../../../../.rvm/gems/ruby-1.8.7-p334@head/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
div, span, object, iframe, h1, h2, h3, h4, h5, h6, p,
pre, a, abbr, acronym, address, code, del, dfn, em, img,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, caption, tbody, tfoot, thead, tr {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

/* line 18, ../../../../../../.rvm/gems/ruby-1.8.7-p334@head/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
blockquote, q {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
  quotes: "" "";
}
/* line 45, ../../../../../../.rvm/gems/ruby-1.8.7-p334@head/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
blockquote:before, blockquote:after, q:before, q:after {
  content: "";
}

/* line 20, ../../../../../../.rvm/gems/ruby-1.8.7-p334@head/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
th, td, caption {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 22, ../../../../../../.rvm/gems/ruby-1.8.7-p334@head/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
table {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}

/* line 24, ../../../../../../.rvm/gems/ruby-1.8.7-p334@head/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
a img {
  border: none;
}

/* line 42, ../../../../../../.rvm/gems/ruby-1.8.7-p334@head/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_scaffolding.scss */
.box {
  padding: 1.5em;
  margin-bottom: 1.5em;
  background: #e5ecf9;
}

/* line 45, ../../../../../../.rvm/gems/ruby-1.8.7-p334@head/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_scaffolding.scss */
div.border {
  padding-right: -1px;
  margin-right: 0;
  border-right: 1px solid #eeeeee;
}

/* line 48, ../../../../../../.rvm/gems/ruby-1.8.7-p334@head/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_scaffolding.scss */
div.colborder {
  padding-right: 19px;
  margin-right: 20px;
  border-right: 1px solid #eeeeee;
}

/* line 50, ../../../../../../.rvm/gems/ruby-1.8.7-p334@head/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_scaffolding.scss */
hr {
  background: #dddddd;
  color: #dddddd;
  clear: both;
  float: none;
  width: 100%;
  height: 0.1em;
  margin: 0 0 1.45em;
  border: none;
}

/* line 52, ../../../../../../.rvm/gems/ruby-1.8.7-p334@head/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_scaffolding.scss */
hr.space {
  background: #dddddd;
  color: #dddddd;
  clear: both;
  float: none;
  width: 100%;
  height: 0.1em;
  margin: 0 0 1.45em;
  border: none;
  background: white;
  color: white;
  visibility: hidden;
}

/* line 54, ../../../../../../.rvm/gems/ruby-1.8.7-p334@head/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_scaffolding.scss */
form.inline {
  line-height: 3;
}
/* line 6, ../../../../../../.rvm/gems/ruby-1.8.7-p334@head/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_form.scss */
form.inline p {
  margin-bottom: 0;
}

/* line 18, ../../../app/stylesheets/authentication.sass */
#page {
  width: 960px;
  margin: 0 auto;
  overflow: hidden;
  *zoom: 1;
}
/* line 20, ../../../app/stylesheets/authentication.sass */
#page #banner {
  display: inline;
  float: left;
  margin-right: 0;
  width: 960px;
  height: 100px;
}
/* line 139, ../../../../../../.rvm/gems/ruby-1.8.7-p334@head/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html #page #banner {
  overflow-x: hidden;
}
/* line 23, ../../../app/stylesheets/authentication.sass */
#page #content {
  display: inline;
  float: left;
  margin-right: 0;
  width: 960px;
}
/* line 139, ../../../../../../.rvm/gems/ruby-1.8.7-p334@head/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html #page #content {
  overflow-x: hidden;
}

/* line 26, ../../../app/stylesheets/authentication.sass */
.position-column input.inplace_field {
  width: 20px;
}
