- content_for :side_content do
  %h2 Other Languages
  %ul
    - @translations.each do |translation|
      %li= link_to(translation.language, translation.file.url, :target => '_blank')

= render :partial => 'pictures/gallery', :locals => { :pictures => @pictures }