%ul.categories
  - Category.displayable.each do |category|
    %li
      = link_to category_path(category), 'data-comment' => !category.comment.blank? do
        = image_tag('arrow-icon.png')
        = category.title
      - unless category.projects.displayable.blank?

        %ul.projects{:style => params[:id] != category.id.to_s ? "display:none" : ''}
          - category.projects.displayable.each do |project|
            %li= link_to project.title, category_project_path(category,project)
